---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404">
	<div class="pt-32 pb-8 text-center">
        <h1 class="text-3xl font-display">
			404 - Not found
        </h1>
        <p class="pt-6">
			The page you were looking for could not be found.
        </p>

        <a href="/" class="underline hover:text-primary inline-flex items-center mx-auto pt-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4">
                <path fill-rule="evenodd" d="M17 10a.75.75 0 0 1-.75.75H5.612l4.158 3.96a.75.75 0 1 1-1.04 1.08l-5.5-5.25a.75.75 0 0 1 0-1.08l5.5-5.25a.75.75 0 1 1 1.04 1.08L5.612 9.25H16.25A.75.75 0 0 1 17 10Z" clip-rule="evenodd" />
            </svg>
			<span>
				Back to home page
			</span>
        </a>
    </div>
</Layout>