---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.d">
	<main>
		Plan your projects with the elegance of a sloth on a sunny day
	</main>
</Layout>

<style>

</style>
