<div class="border border-primary px-6 rounded">
    <h2 id="getting-a-server-to-host-vikunja-on" class="mt-6">
        Getting a server to host Vikunja on
    </h2>

    <p>
        If you want the easy experience of just using Vikunja, we reccomend our own hosted offering <a href="https://app.vikunja.cloud/?redirectToProvider=true">Vikunja Cloud</a>.
        With Vikunja Cloud, we take care of everything and make it very easy for you, to sign up and use it, hassle-free.
    </p>

    <p>
        If you want more control, you need to install and run Vikunja on a server.
        Since it's designed as a web application, it is not really possible to host it standalone on a desktop device only. If you know what you're doing, you can get it working but that's out of scope for this guide.
    </p>

    <p>To get a server, we reccomend one of these hosting providers (affiliate links):</p>
    <ul>
        <li><a href="https://hetzner.cloud/?ref=rftnSU8lrkmT">Hetzner</a> - German provider, we're using them to host a bunch of Vikunja-related infrastructure. Sign up with <a href="https://hetzner.cloud/?ref=rftnSU8lrkmT">our link</a> to get 20 € in hosting credits.</li>
        <li><a href="https://m.do.co/c/2d0f6efa8d5c">Digital Ocean</a> - Well known cloud provider with a lot of options to choose from. Sign up with <a href="https://m.do.co/c/2d0f6efa8d5c">our link</a> to get $ 200 USD in hosting credits.</li>
    </ul>

    <p>All of these are affiliate links. If you sign up for one of these providers, we get a comission which helps support the project.</p>

</div>
