<table>
    <tbody>
    <tr>
        <td><code>now</code></td>
        <td>Right now (<span id="now">Oct 30, 2024, 14:26:12</span>)</td>
    </tr>
    <tr>
        <td><code>now+24h</code></td>
        <td>In 24h (<span id="now24h">Oct 31, 2024, 14:26:12</span>)</td>
    </tr>
    <tr>
        <td><code>now/d</code></td>
        <td>Today at 00:00 (<span id="nowD">Oct 30, 2024, 00:00:00</span>)</td>
    </tr>
    <tr>
        <td><code>now/w</code></td>
        <td>The beginning of this week at 00:00 (<span id="nowW">Oct 27, 2024, 00:00:00</span>)</td>
    </tr>
    <tr>
        <td><code>now/w+1w</code></td>
        <td>The end of this week (<span id="nowW1w">Nov 3, 2024, 00:00:00</span>)</td>
    </tr>
    <tr>
        <td><code>now+30d</code></td>
        <td>In 30 days (<span id="now30d">Nov 29, 2024, 00:00:00</span>)</td>
    </tr>
    <tr>
        <td><code><span id="date-math-today">Oct 30, 2024, 14:26:12</span>||+1M/d</code></td>
        <td>
            <span id="date-math-today">Oct 30, 2024, 14:26:12</span> plus one month at 00:00 of that day (<span id="nowPlusMonth">Nov 30, 2024, 00:00:00</span>)
        </td>
    </tr>
    </tbody>
</table>

<script>
	function formatDate(date: Date) {
		return date.toLocaleString('en-US', {
			year: 'numeric',
			month: 'short',
			day: 'numeric',
			hour: '2-digit',
			minute: '2-digit',
			second: '2-digit',
			hour12: false,
		})
	}

	function updateDates() {
		const now = new Date()

        const nowElement = document.getElementById('now')
        if (nowElement) {
            nowElement.textContent = formatDate(now)
        }

		const now24h = new Date(now.getTime() + 24 * 60 * 60 * 1000)
        const now24hElement = document.getElementById('now24h')
        if (now24hElement) {
            now24hElement.textContent = formatDate(now24h)
        }

        const nowD = new Date(now.setHours(0, 0, 0, 0))
        const nowDElement = document.getElementById('nowD')
        if (nowDElement) {
            nowDElement.textContent = formatDate(nowD)
        }

        const nowW = new Date(now)
        nowW.setDate(now.getDate() - now.getDay())
        nowW.setHours(0, 0, 0, 0)
        const nowWElement = document.getElementById('nowW')
        if (nowWElement) {
            nowWElement.textContent = formatDate(nowW)
        }

        const nowW1w = new Date(nowW)
        nowW1w.setDate(nowW.getDate() + 7)
        const nowW1wElement = document.getElementById('nowW1w')
        if (nowW1wElement) {
            nowW1wElement.textContent = formatDate(nowW1w)
        }

        const now30d = new Date(now.getTime() + 30 * 24 * 60 * 60 * 1000)
        const now30dElement = document.getElementById('now30d')
        if (now30dElement) {
            now30dElement.textContent = formatDate(now30d)
        }

        const dateMathTodayElement = document.getElementById('date-math-today')
        if (dateMathTodayElement) {
            dateMathTodayElement.textContent = formatDate(new Date())
        }

        const nowPlusMonth = new Date()
        nowPlusMonth.setMonth(nowPlusMonth.getMonth() + 1)
        nowPlusMonth.setHours(0, 0, 0, 0)
        const nowPlusMonthElement = document.getElementById('nowPlusMonth')
        if (nowPlusMonthElement) {
            nowPlusMonthElement.textContent = formatDate(nowPlusMonth)
        }
	}

	setInterval(updateDates, 1000)
	updateDates()
</script>
