---
import DarkModeSwitch from './DarkModeSwitch.astro'
import {VIKUNJA_CLOUD_LINK} from '../../helpers/vikunjaCloudLink'
import ButtonGetStarted from './ButtonGetStarted.astro'
---
<DarkModeSwitch/>

<a href={VIKUNJA_CLOUD_LINK}
   class="text-gray-800 dark:text-gray-200 hover:text-primary underline leading-tight">Vikunja Cloud</a>

<ButtonGetStarted/>
