---
import DarkModeSwitch from './DarkModeSwitch.astro'
import Button from '../Button.astro'
---
<DarkModeSwitch/>

<a href="https://app.vikunja.cloud/?redirectToProvider=true"
   class="text-gray-800 dark:text-gray-200 underline leading-tight">Vikunja Cloud</a>

<Button href="/docs/installing">
    Get started
</Button>
