---
import Button from '../Button.astro'
---

<p class="font-display text-base font-bold">Subscribe to our newsletter</p>
<p class="mt-2">
    We'll email you about releases and news about Vikunja. Low traffic. Unsubscribe any
    time.
</p>

<Button
        class="mt-2! w-full"
        href="https://newsletter-subscribe.vikunja.io/"
>
    Subscribe to our newsletter
</Button>