---
interface Props {
	type: 'warning' | 'info'
	class?: string
}

const {type, class: classNames} = Astro.props

function getClasses(): string {
	let suffix = ''
	switch (type) {
		case 'info':
			suffix = 'bg-primary-lighter !text-white'
			break
		case 'warning':
			suffix = 'bg-yellow-200 dark:bg-yellow-300 !text-gray-800'
			break
	}

	return classNames + ' callout rounded px-4 py-3 ' + suffix
}
---

<div class={getClasses()}>
	<slot/>
</div>

<style>
	.callout :global(> p) {
		@apply m-0;
	}
</style>