---
import NavItem from './NavItem.astro'
---
<div class="lg:size-fit lg:m-auto">
    <div class="relative p-2 bg-gray-700/5 backdrop-blur-2xl rounded-lg">
        <div class="relative w-full text-gray-600">
            <ul class="flex flex-col gap-6 tracking-wide lg:flex-row lg:gap-0 lg:text-sm">
                <NavItem href="/">Home</NavItem>
                <NavItem href="/features">Features</NavItem>
                <NavItem href="/docs">Docs</NavItem>
                <NavItem href="/pricing">Pricing</NavItem>
                <NavItem href="/changelog">Changelog</NavItem>
            </ul>
        </div>
    </div>
</div>