---
// TableOfContentsHeading.astro
const { heading } = Astro.props;
---

<li>
    <a href={'#' + heading.slug} class="transition hover:text-primary">
		{heading.text}
    </a>
	{
		heading.subheadings.length > 0 && (
                    <ul class="pl-6">
						{heading.subheadings.map((subheading) => (
                                <Astro.self heading={subheading} />
						))}
                    </ul>
		)
	}
</li>
