---
interface Props {
	heading: string
}

const {heading} = Astro.props
---
<div class="mt-32 mb-20 mx-auto max-w-(--breakpoint-md)">
    <h2 class="font-display text-3xl flex items-center justify-center text-balance">
		<slot name="header-icon"/>
		{heading}
    </h2>
    <p class="pt-4 px-4 text-balance">
		<slot/>
    </p>
</div>
