---
import Layout from './Layout.astro'
import Prose from '../components/Prose.astro'

interface Props {
	title: string;
	image?: string;
	description?: string;
}

// @ts-ignore: Property exists
const title = Astro.props?.frontmatter?.title || Astro.props.title
// @ts-ignore: Property exists
const image = Astro.props?.frontmatter?.image || Astro.props.image
// @ts-ignore: Property exists
const description = Astro.props?.frontmatter?.description || Astro.props.description
---

<Layout title={title} type="text" image={image} description={description}>
    <main class="mx-auto max-w-(--breakpoint-lg)">
        <Prose>
            <slot/>
        </Prose>
    </main>
</Layout>
